<% layout("/layouts/boilerplate") %>

  <div class="row">
    <div class="col-8 offset-2 mt-3 mb-3">
      <h3>
        <b>Listing Details:</b><br>

      </h3>
    </div>
    <div class="card col-8 offset-2  show-card mb-3 listing-card">
      <img class="card-img-top show-img" style="width: 100%; height: 40vh; object-fit: contain;"
        src="<%= listing.image.url %>" alt="listing_image">

      <div class="card-body ms-3">
        <p class="card-text mt-3 ">
        <h4> <b>
            <%= listing.title %>
          </b><br></h4>
        </p>

        <% if(listing.owner) {  %>
        <p class="card-text mt-3 fs-5">Owned by &nbsp<%= listing.owner.username %>
        </p>
        <% } %>

        <p class="card-text mt-3 fs-5">
          <%= listing.description %><br>
        </p>
        <p class="card-text mt-3 fs-5"> Price:&nbsp&#8377;&nbsp <%= listing.price.toLocaleString("en-IN") %><br></p>
        <p class="card-text mt-3 fs-5"> Location :<%= listing.location %><br></p>
        <p class="card-text mt-3 fs-5"> Country: <%= listing.country %><br></p>

      </div>
    </div>


    <br>
    <br>




    <div class="btns  mb-3">
      <a href="/listings/<%= listing._id %>/edit"
        class="btn btn-dark edit-btn col-1 offset-2 btn-sm btn-md fs-6">Edit</a>


      <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
        <button class="btn btn-dark offset-4 fs-6">Delete</button>
      </form>
    </div>






    <!-- reviews -->

    <hr>
    <% if(currUser) { %>
      <b>
        <h3>Leave a Review</h3>
      </b>

      <form class="mb-1 mt-1 needs-validation" action="/listings/<%= listing.id %>/reviews" method="POST" novalidate>


        <div>
          <label for="rating" class="form-label fs-4">Rating</label>
          <fieldset class="starability-slot">
            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
              aria-label="No rating." />
            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
            <label for="first-rate3" title="Average">3 stars</label>
            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>


        <div class="mb-3">
          <label for="comment" class="form-label  fs-4">Comments</label>
          <textarea name="review[comment]" id="comment" cols="20" rows="5" class="form-control" required maxlength="350"></textarea>
          <div class="invalid-feedback fs-5">Please add some comments</div>
        </div>
        <button class="btn  btn-md btn-outline-dark mb-3 fs-6 font-weight-bold">Submit</button>
      </form>
      <% } %>


        <!-- all reviews -->
        <div class="mb-2"><b>
            <h3 class="mb-2"> All Reviews</h3>
          </b> </div>


          <div class="reviews-div mb-3 row d-flex flex-wrap">
            <div class="row mt-2 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 d-flex">
              <% for (review of listing.reviews) { %>
                <div class="col mb-3 d-flex">
                  <div class="card flex-grow-1">
                    <div class="card-body">
                      <h5 class="card-title fs-4">
                        <b>@<%= review.author.username %></b>
                      </h5>
                      <p class="starability-result card-text" data-rating="<%= review.rating %>"> </p>
                      <p class="card-text fs-5">
                        <%= review.comment %>
                      </p>
                      <form class="mb-3" method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                        <button class="btn btn-md btn-dark"> Delete </button>
                      </form>
                    </div>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
          
          


  </div>